{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Appointment Manager</title>
    <style>
        .container .row .col a {
            margin-bottom: 7px;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <h1 class="title">Appointment Page</h1>
    <div class="card w-65 m-auto" style="width:65%">
        <div class="p-3">
            <form action="" method="post">
                {% csrf_token %}
                <select class="form-select" name="doctor" id="select2" aria-label="Default select example">
                    <option selected disabled>Please select doctor</option>
                    {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">{{ doctor.email }}</option>
                    {% endfor %}
                </select>
                <label for="date-input">Select Date</label>
                <input class="dpicker form-control" type="date" name="sp_date" id="date-input"
                    placeholder="Disabled input" aria-label="input example">
                <input type="submit" name="list_schedule" value="Submit" class="btn btn-sm btn-primary mt-3">
            </form>
            <div class="card-body">
                <hr class="hr">
                <div class="container">
                    <div class="row">
                        {% for date in dates %}
                        <div class="col col-md-3 col-md-4">
                            <div class="btn sm">
                                {{date}}
                            </div>
                            {% for schedule in schedules %}
                                {% if schedule.date == date %}
                                <a class="btn alert-info sm"href="#"style="display: block;">
                                    {{schedule.schedule}}
                                </a>
                                {% endif %}
                    
                            {% endfor %}
                        </div>
                        {% empty %}
                        <div class="col">
                            <div class="btn sm">
                                No Schedule
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript">
        $('.dpicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    </script>
</body>

</html>