{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Appointment Manager </title>
    <style>
        .container .row .col a {
            margin-bottom: 7px;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
            max-width: 100%;
        }
    </style>
</head>

<body>
<h1 class="title">Appointment Page </h1>

<div class="card w-65 m-lg-5" style="width:65%; display: inline-flex">
    <div class="p-3">
        <form action="" method="get">
{#                                {% for doctor in doctors %}#}
{#                                    <div class="btn alert-secondary">{{ doctor.id }} | {{ get }}</div>#}
{#                                    {% if doctor.id == get.doctor|add:'0' %}#}
{#                                        <div class="btn alert-warning">#}
{#                                            NAME#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}

            <select class="form-select" name="doctor" id="select2" aria-label="Default select example">
                <option selected disabled>Please select doctor</option>

                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}" {% if doctor.id == get.doctor|add:'0' %}
                            selected {% endif %}>{{ doctor.email }}</option>
                {% endfor %}

            </select>
            <label for="date-input">Select Date</label>
            {#  Date Input Format: YYYY-MM-DD             #}
            {#  Header Input Format: YYYY-MM-DD          #}
            <input class="dpicker form-control" type="date" name="sp_date" id="date-input"
                   placeholder="Disabled input" value="{{ get.sp_date }}" aria-label="input example">
            <input type="submit" name="list_schedule" value="Submit" class="btn btn-sm btn-primary mt-3">
        </form>
        <div class="card-body">
            <hr class="hr">
            <div class="container">
                <div class="row">
                    {% for date in dates %}
                        <div class="col col-md-3 col-md-4">
                            <div class="btn sm">
                                {{ date }}
                            </div>
                            {% for schedule in schedules %}
                                {% if schedule.date == date %}
                                    <a class="btn alert-info sm" href="/schedule/?doctor={{ get.doctor }}&date_={{ schedule.id }}" style="display: block;">
                                        {{ schedule.schedule }}
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    {% empty %}
                        <div class="col">
                            <div class="btn sm">
                                No Schedule
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
<div class="card w-25 mt-5 me-3" style="float: right;">
        <form action="" method="post" class="p-4">
            {% csrf_token %}
            <label for="email-input">Email: </label>
            <input class="form-control" type="email" name="email" id="email-input"
                   placeholder="Email here" value="" aria-label="input example">
            <input type="submit" name="login" value="Login" class="btn btn-sm btn-primary mt-3">
            <input type="button" name="remove" onclick="logout()" value="Logout" class="btn btn-sm btn-danger mt-3">
        </form>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div>
                        <small><b>You logged in as:</b> {{ login_status.email }}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    async function logout(){
        const response = await fetch("http://127.0.0.1:8000/logout/");
        const jsonData = response.ok;
        window.location.href = "http://127.0.0.1:8000/"
    }
</script>
</body>

</html>