{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Appointment Manager</title>
</head>
<body>
    <h1>Appointment Manager</h1>
    <p>Here are your appointments:</p>
    <ul>
        {% for appointment in appointments %}
            <li>{{ appointment }}</li>
        {% endfor %}
    </ul>
</body>
</html>